/* 

   Web Developer
   Filename: styles2.css

   Author: Zack Ausbrooks 
   Date: 11/11/16

 */

h1 {
   padding: 0.4em;
   color: #00D88F;
   background-color: white;
   text-align: center;
}

h3    {
    padding: 0.4em;
    color: #00D88F;
    background-color: white;
    text-align: center;
}

p {
	color: white 

}

li {
	color: white
}


















