			p.nav {float:right;display:inline;padding:20 20 20 20;color:#d9d9d9;font-family:verdana;font-size:20px;}
			.loganwayne {display:inline;padding: 20 20 20 20}
			.album {padding:30px 30px 30px 30px;}
			.media {padding: 20 20 20 20;display:inline}
			.s {text-decoration:none}
			.quote {padding:30 30 30 30;display:inline;float:center;}
			.side {padding: 30 40 30 30;}
			.side2 {padding:40 30 30 30;}
			.career {}
			
			.info {float:rightdisplay:inline;font-family:verdanda;font-size:20px;margin-right: 100px;}
			.about {float:left;margin-left:100px;margin-right:80px;}
			.edu {float:left;margin-left:100px;margin-right:50px;}
			.sal{float:left;margin-left:100px;margin-right:80px;}