.table1{color:white;
text-align:center;
background-color:#006aff;
}

.table1-5{
	
	color:white;
}

.table2{color:black; 


}

.table3{background:#ff8800;

}

.whole{text-align:center;}

.title{
	
	color:white;
	text-align:center;
	
}

.table4{
	
	background-color:#808080;

}

.act{
	padding:0.1em;
	margin:5em;
	border:10em;
	width:110em;
	background-color:#808080;
}

.act1{
		padding:1em;
	margin:2em;
	border:;
	width:75em;
	background-color:#808080;
	
}

.act2{
		padding:1em;
	margin:2em;
	border:;
	width:60em;
	background-color:#808080;
	
}