body {
	background: url("Barn Wood.jpg");
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
.thanksgiving {
	margin-left:auto;
	margin-right:auto;
}
#footer {
	background-image: url(Web Box Logo_Small.png);
	background-repeat:repeat-x;
}