.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38a9d6;
}

.nav{
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  #38d699;
}

.active {
    background-color: #878787;
}

.ol {
    background-color: #ffffff;
    width: 400px;
    border: 25px solid #878787;
    padding: 25px;
    margin: auto;
	box-align: center;
}
	
.video {
	background-color: #ffffff;
	height: 500px;
	width: 400px;
    border: 25px solid #878787;
    padding: 25px;
    margin: auto;
	box-align: center
}