/*
			Name: Ethan Robinson
			
			Date:12/16/16
			
			*/
		
						
			h1 {color:black}
			h2 {color:Blue}
			h3{color:green}
			p {color:Black}
			
		
		body {
			background:red
		}
		div {
			text-align: center
		}